@using Shared.Models

<footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
        <div class="my-3">
            <div class="h4">@MainInfo.Name</div>
            <div class="footer-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="@MainInfo.LinkedinAddress" title="Linkedin"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">Linkedin</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@MainInfo.FacebookUrl" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@MainInfo.InstagramUrl" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@MainInfo.GitUrl" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
@code {
    [Parameter]
    public MainInfoModel MainInfo { get; set; } = default!;
}