@using Shared.Models

<div class="shadow-1-strong bg-white my-5" id="intro">
    <div class="bg-info text-white">
        <div class="cover bg-image">
            <img src="images/header-background.jpg" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                <div class="text-center p-5">
                    <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="@MainInfo.ProfilePhoto" width="160" height="160" /></div>
                    <div class="header-bio mt-3">
                        <div data-aos="zoom-in" data-aos-delay="0">
                            <h2 class="h1">@MainInfo.Name</h2>
                            <p>@MainInfo.Description</p>
                        </div>
                        <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                            <nav role="navigation">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item">
                                        <a class="nav-link" href="@MainInfo.LinkedinAddress" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">Linkedin</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@MainInfo.FacebookUrl" target="_blank" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@MainInfo.InstagramUrl" target="_blank" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@MainInfo.GitUrl" target="_blank" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" href="@MainInfo.CV_Url" target="_blank" data-aos="fade-right" data-aos-delay="700">Download CV</a><a class="btn btn-info btn-lg shadow-sm mt-1" href="mailto:@MainInfo.Email" data-aos="fade-left" data-aos-delay="700">Hire Me</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MainInfoModel MainInfo { get; set; } = default!;
}