@using Shared.Models
<div class="shadow-1-strong bg-white my-5 p-5" id="skills">
    <div class="skills-section">
        <h2 class="h2 fw-light mb-4">Professional Skills</h2>
        <div class="row">
            <div class="col-md-6">

                @foreach (var item in LeftSkillsList)
                {
                    <div class="mb-3">
                        <span class="fw-bolder">@item.Name</span>
                        <div class="progress my-2 rounded" style="height: 20px">
                            <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: @((MarkupString)item.Percent)%;" aria-valuenow="@((MarkupString)item.Percent)" aria-valuemin="0" aria-valuemax="100">@item.Level</div>
                        </div>
                    </div>
                }


            </div>
            <div class="col-md-6">

                @foreach (var item in RightSkillsList)
                {

                    if (item != null)
                    {
                        <div class="mb-3">
                            <span class="fw-bolder">@item.Name</span>
                            <div class="progress my-2 rounded" style="height: 20px">
                                <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: @((MarkupString)item.Percent)%;" aria-valuenow="@((MarkupString)item.Percent)" aria-valuemin="0" aria-valuemax="100">@item.Level</div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public SkillModel[] RightSkillsList { get; set; } = default!;
    [Parameter]
    public SkillModel[] LeftSkillsList { get; set; } = default!;
}
