@using CV_WebApp.Models
<div class="shadow-1-strong bg-white my-5 p-5" id="references">
    <div class="reference-section">
        <h2 class="h2 fw-light mb-4">References</h2>

        <div class="main-carousel">
            @foreach (var item in ReferencesList)
            {
                <div class="carousel-cell">
                    <div>
                        <div class="d-flex mb-1">
                            <div class="avatar"><a href="@item.Url" target="_blank"><img src="@item.PersonPhoto" width="60" height="60" /></a></div>
                            <div class="header-bio m-1 mb-0">
                                <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0">@item.PersonName</h3>
                                <p class="text-muted text-small" data-aos="fade-left" data-aos-delay="100">@item.JobTitle</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <i class="text-secondary fas fa-quote-left"></i>
                            <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">@item.ReferenceText</p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>


@code {
    [Parameter]
    public List<ReferenceModel> ReferencesList { get; set; } = default!;
}